<div class="content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Make Changes</h5>
          <h2 class="card-title">Editing Status</h2>
        </div>
        <div class="card-body">
            
            <%= render 'form', status: @status %>

            <%= link_to 'Show', @status, class: "btn btn-info" %> |
            <%= link_to 'Back', statuses_path %>
        </div>
      </div>
    </div>
  </div>
</div>
