<div class="content">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Make Changes</h5>
          <h2 class="card-title">Editing Skill</h2>
        </div>
        <div class="card-body">
            
            <%= render 'form', skill: @skill %>

            <%= link_to 'Show', @skill , class: "btn btn-info"%> |
            <%= link_to 'Back', skills_path , class: "btn btn-default"%>
        </div>
      </div>
    </div>
  </div>
</div>
