<%= form_for @comment, url: project_comments_path(@project.id) do |f| %>
    <div class="card card-plain">
        <div class="card-header">
            <h5 class="card-category">Comment Here</h5>
        </div>
        <div class="card-body">
            <div class="form-group">
                <%= f.text_area :content, class: 'form-control', placeholder: 'Type comment here' %>
            </div>
            <div class="actions">
                <%= f.submit class: 'btn btn-info' %>
            </div>
        </div>
    </div>
<% end %>