<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Show Record</h5>
        </div>
        <div class="card-body">


                <p>
          <strong>Address:</strong>
          <%= @wallet.address %>
        </p>

                <p>
          <strong>Total received in Account:</strong>
          <%= @wallet.balance %>
        </p>

        <%= link_to 'Back', wallets_path %>
        </div>
      </div>
    </div>
  </div>
</div>