<div class="content">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Transaction</h5>
          <h2 class="card-title">Transfer funds</h2>
        </div>
        <div class="card-body">
          <%= render 'form', wallet: @wallets.first %>
        </div>
      </div>
    </div>
  </div>
</div>