<section class="client_logo">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <div class="title_dark">
          <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Deposit Methods</span>
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">We accept deposits via these methods.</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center text_md_center">
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">
          <img src="../ico_assets/images/skrill.png" alt="Skrill/Moneybookers" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">
          <img src="../ico_assets/images/webmoney.png" alt="Webmoney" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
          <img src="../ico_assets/images/perfectmoney.png" alt="Perfect Money" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <img src="../ico_assets/images/bitcoin.png" alt="Bitcoin Accepted" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">
          <img src="../ico_assets/images/bitcoincash.png" alt="Bitcoin Cash Accepted" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <img src="../ico_assets/images/ethereum.png" alt="Ethereum Accepted" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.7s">
          <img src="../ico_assets/images/dash.png" alt="Dash Accepted" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.8s">
          <img src="../ico_assets/images/litecoin.jpg" alt="Litecoin Accepted" />
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="animation" data-animation="fadeInUp" data-animation-delay="0.9s">
          <img src="../ico_assets/images/steem.jpg" alt="Steem Accepted" />
        </div>
      </div>
    </div>
  </div>
  <div class="rounded_shape light_rounded_shape1"></div>
</section>