<div id="faq">
  <div class="divider large_divider"></div>
  <div class="row text-center">
    <div class="col-lg-8 col-md-12 offset-lg-2">
      <div class="title_dark">
        <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">FAQs</span>
        <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Frequently Asked Questions</h2>
        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Here are few Frequently asked Questions, which provide you useful information about Berycoin Project.</p>
      </div>
    </div>
  </div>
  <div class="row small_space">
    <div class="col-lg-8 col-md-12 offset-lg-2">
      <div id="accordion" class="faq_content">
        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.1s">
          <div class="card-header" id="headingOne">
            <h6 class="mb-0"> <a data-toggle="collapse" class="gradient_box" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What is Berycoin?</a> </h6>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body gradient_box"> Berycoin is a Proof of stake crypto currency, which removes the need of purchasing expensive mining devices for mining purpose. It has 2 minute blocks with fixed block reward of 950 berycoins,                                    e.g it will never decrease or halve until all the supply is mined
            </div>
          </div>
        </div>
        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.2s">
          <div class="card-header" id="headingTwo">
            <h6 class="mb-0"> <a class="collapsed gradient_box" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How much is Max coin supply?</a> </h6>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body gradient_box"> Berycoin has a supply of roughly 60 Billion coins, 16.67% of the supply is premined while remaining coins can be mined over the period of 100+ years.  </div>
          </div>
        </div>
        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.3s">
          <div class="card-header" id="headingThree">
            <h6 class="mb-0"> <a class="collapsed gradient_box" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Premined coins. What for?</a> </h6>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body gradient_box"> Premined coins are dedicated to project Berymedia, ICO, and Bountry Programs. Through berymedia coins will be distributed among people.
            </div>
          </div>
        </div>
        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <div class="card-header" id="headingFour">
            <h6 class="mb-0"> <a class="collapsed gradient_box" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What is berymedia?</a> </h6>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body gradient_box"> Berymedia is a social platform, which promotes open culture Projects, Articles and Educational courses.
            </div>
          </div>
        </div>
        <div class="card animation" data-animation="fadeInUp" data-animation-delay="0.5s">
          <div class="card-header" id="headingFour">
            <h6 class="mb-0"> <a class="collapsed gradient_box" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFour">Is this project available worldwide?</a> </h6>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body gradient_box"> Yes. Anyone from anywhere around the world can join us. </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br /><br /><br />