<footer>
  <div class="top_footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
          <div class="footer_logo animation" data-animation="fadeInUp" data-animation-delay="0.1s">
            <a href="berycoin.html.erb"><img alt="logo" src="../ico_assets/images/logo.png"></a>
          </div>
          <div class="newsletter_form large_space">
            <h4 class="animation footer_title" data-animation="fadeInUp" data-animation-delay="0.2s">Follow us on Social Media</h4>
            <p> We understand that social media is very important for interaction with community. So we are available on number of social media platforms.
            Kindly follow us on social media and keep yourself updated. </p>
          </div>
          <ul class="list_none footer_social">
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.1s"><a href="https://www.facebook.com/berycoinOfficial/"><i class="ion-social-facebook"></i></a></li>
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.3s"><a href="https://twitter.com/berycoin"><i class="ion-social-twitter"></i></a></li>
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.5s"><a href="https://plus.google.com/112343477589083460338"><i class="ion-social-googleplus"></i></a></li>
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.7s"><a href="https://www.youtube.com/channel/UC8AGVS8mHjAzibGUEUQFh3Q"><i class="ion-social-youtube-outline"></i></a></li>
            <li class="animation" data-animation="fadeInUp" data-animation-delay="0.9s"><a href="https://github.com/berycoin-project"><i class="ion-social-github-outline"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="rounded_shape light_rounded_shape2"></div>
  </div>
  <div class="bottom_footer staggered-animation-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="copyright staggered-animation" data-animation="fadeInLeft" data-animation-delay="0.1s">Copyright © 2018 All Rights Reserved.</p>
        </div>
        <div class="col-md-6">
          <ul class="list_none footer_menu staggered-animation" data-animation="fadeInRight" data-animation-delay="0.2s">
            <li><%= link_to "Privacy Policy", pages_policy_path %></li>
            <li><%= link_to "Terms & Conditions", pages_term_path%></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>