<section id="home" class="banner_section section_light_bg">
  <div id="banner_bg_effect" class="banner_effect"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12 col-sm-12 order-lg-first text_md_center">
        <div class="banner_text">
          <h1 class="animation" data-animation="fadeInUp" data-animation-delay="1.5s"><span>Berycoin</span> POS coin</h1>
          <h3 class="animation" data-animation="fadeInUp" data-animation-delay="1.6s">Start minting berycoins today!</h3>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="1.7s">Berycoin comes with a purpose of promoting open culture projects, articles and courses through Berymedia platform.</p>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="1.8s">Buy, Stake and mine Berycoins right now!</p>
          <div class="banner_btn animation" data-animation="fadeInUp" data-animation-delay="1.8s">
            <a href="#how_it_work" class="btn btn-default page-scroll nav-link">More Info<i class="ion-ios-arrow-thin-right"></i></a>
            <a href="#" class="btn btn-border">Buy Coins Now! <i class="ion-ios-arrow-thin-right"></i></a> </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 order-first">
        <div class="res_md_mb_50 res_xs_mb_30">
          <div class="tk_countdown text-center animation" data-animation="fadeIn" data-animation-delay="1.9s">
            <div class="banner_text tk_counter_inner">
              <h3 class="animation" data-animation="fadeInUp" data-animation-delay="1.8s"> ICO Starts Soon!</h3>
              <div class="tk_countdown_time animation" data-animation="fadeInUp" data-animation-delay="2s" data-time="2018/08/01 00:09:00"></div>
              <div class="progress animation" data-animation="fadeInUp" data-animation-delay="2.20s">
                <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:20%">  10.0M USD </div>
                <span class="progress_label" style="left: 10%"> <strong> 5.0M </strong></span>
                <span class="progress_label" style="left: 40%"> <strong> 50.0M </strong></span>
                <span class="progress_label" style="left: 75%"> <strong> 37.5M </strong></span>
                <span class="progress_max_val"> 50M ICO MAX </span>
              </div>
              <a href="#" class="btn btn-default animation" data-animation="fadeInUp" data-animation-delay="2.30s">Buy Berycoins Now <i class="ion-ios-arrow-thin-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_wave" style="background-image:url('../ico_assets/images/banner_wave.png');"></div>
</section>