<section id="about" class="section_light_bg">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="animation res_sm_mb_30" data-animation="fadeInLeft" data-animation-delay="0.1s">
          <img src="../ico_assets/images/about_img.png" alt="aboutimg" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="title_dark">
          <span class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">What is Berycoin?</span>
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Berycoin's two main purposes!</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">
            Berycoin is a decentralized blockchain project built on Bitcoin's UTXO model, with support for Ethereum Virtual Machine based smart contracts, and secured by a proof of stake consensus model. It achieves this through the revolutionary Account Abstraction Layer which allows the EVM to communicate with Berycoin's Bitcoin-like UTXO blockchain.
          </p>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">
            Berycoin has a linked berymedia project, which is going to support open culture projects, content and educational courses with its unique reward program.
          </p>
        </div>
        <a href="https://www.youtube.com/watch?v=ZE2HxTmxfrI" class="btn btn-default video animation" data-animation="fadeInUp" data-animation-delay="0.6s"><span class="ion-play"></span>Let's Start <i class="ion-ios-arrow-thin-right"></i></a> </div>
    </div>
    <div class="divider large_divider"></div>
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 offset-lg-2">
        <div class="title_dark">
          <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Why Berycoin?</span>
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Berycoin comes with a purpose to promote Open culture.</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Berycoin is going to make people work on producing great content, amazing projects and help community grow together by providing them educational courses.</p>
        </div>
      </div>
    </div>
    <div class="row text-center small_space benefit_wrap">
      <div class="col-lg-2 col-md-4 col-6">
        <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.1s">
          <img src="../ico_assets/images/secure.png" alt="secure" />
          <h6>Safe, Secure and Reliable</h6>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.2s">
          <img src="../ico_assets/images/token.png" alt="token" />
          <h6>Compatible with EVM</h6>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.3s">
          <img src="../ico_assets/images/payment.png" alt="payment" />
          <h6>PoS Consensus system</h6>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <img src="../ico_assets/images/case.png" alt="case" />
          <h6>Create Smart Contracts</h6>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
          <img src="../ico_assets/images/app.png" alt="app" />
          <h6>Decentral GP For Berycoin</h6>
        </div>
      </div>
      <div class="col-lg-2 col-md-4 col-6">
        <div class="benefit_box animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <img src="../ico_assets/images/dilution.png" alt="dilution" />
          <h6>UTXO transaction model</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded_shape light_rounded_shape1"></div>
  <div class="rounded_shape light_rounded_shape2"></div>
</section>

