<section id="team" class="team_wrap" data-parallax="scroll" data-image-src="../ico_assets/images/team_bg.png">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 offset-lg-2">
        <div class="title_dark">
          <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Our Core Team</span>
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Professional Experts</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">we are proud of our great team.He is one of the most motivated and enthusiastic people we have, and is always ready and willing to help out where needed. </p>
        </div>
      </div>
    </div>
    <div class="row small_space">
      <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
        <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.05s">
          <div class="team_img text-center">
            <img src="../ico_assets/images/user_img.jpg" alt="user_img" />
            <div class="social_team list_none">
              <ul>
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team_info gradient_box text-center">
            <h4><a href="#team1" class="content-popup">Walter Mark</a></h4>
            <p>Director</p>
          </div>
          <div id="team1" class="team_pop mfp-hide">
            <div class="row m-0">
              <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="../ico_assets/images/user_img-lg.jpg" alt="user_img-lg" /> </div>
              <div class="col-md-6">
                <div class="pt-3 pb-3">
                  <div class="title_dark"> <span>Director</span>
                    <h2>Walter Mark</h2>
                  </div>
                  <div class="social_single_team list_none">
                    <ul>
                      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                      <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                  </div>
                  <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 res_md_mb_30">
        <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <div class="team_img text-center">
            <img src="../ico_assets/images/user_img.jpg" alt="user_img" />
            <div class="social_team list_none">
              <ul>
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team_info gradient_box text-center">
            <h4><a href="#team2" class="content-popup">Lissa Tero</a></h4>
            <p>Project Manager</p>
          </div>
          <div id="team2" class="team_pop mfp-hide">
            <div class="row m-0">
              <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="../ico_assets/images/user_img-lg.jpg" alt="user_img-lg" /> </div>
              <div class="col-md-6">
                <div class="pt-3 pb-3">
                  <div class="title_dark"> <span>Project Manager</span>
                    <h2>Lissa Tero</h2>
                  </div>
                  <div class="social_single_team list_none">
                    <ul>
                      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                      <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                  </div>
                  <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 res_xs_mb_30">
        <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.7s">
          <div class="team_img text-center">
            <img src="../ico_assets/images/user_img.jpg" alt="user_img" />
            <div class="social_team list_none">
              <ul>
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team_info gradient_box text-center">
            <h4><a href="#team3" class="content-popup">Kartik Sef</a></h4>
            <p>Programmer</p>
          </div>
          <div id="team3" class="team_pop mfp-hide">
            <div class="row m-0">
              <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="../ico_assets/images/user_img-lg.jpg" alt="user_img-lg" /> </div>
              <div class="col-md-6">
                <div class="pt-3 pb-3">
                  <div class="title_dark"> <span>Programmer</span>
                    <h2>Kartik Sef</h2>
                  </div>
                  <div class="social_single_team list_none">
                    <ul>
                      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                      <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                  </div>
                  <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="1s">
          <div class="team_img text-center">
            <img src="../ico_assets/images/user_img.jpg" alt="user_img" />
            <div class="social_team list_none">
              <ul>
                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="team_info gradient_box text-center">
            <h4><a href="#team4" class="content-popup">Laura Sandel</a></h4>
            <p>Market Analysis</p>
          </div>
          <div id="team4" class="team_pop mfp-hide">
            <div class="row m-0">
              <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="../ico_assets/images/user_img-lg.jpg" alt="user_img-lg" /> </div>
              <div class="col-md-6">
                <div class="pt-3 pb-3">
                  <div class="title_dark"> <span>Market Analysis</span>
                    <h2>Laura Sandel</h2>
                  </div>
                  <div class="social_single_team list_none">
                    <ul>
                      <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                      <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                      <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                      <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    </ul>
                  </div>
                  <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider large_divider"></div>
    <div class="row text-center">
      <div class="col-md-12">
        <div class="title_dark">
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Our Invester</h2>
        </div>
      </div>
    </div>
    <div class="row small_space justify-content-center">
      <div class="col-lg-9 col-md-12">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
            <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.05s">
              <div class="team_img text-center">
                <img src="../ico_assets/images/user_img.jpg" alt="user_img" />
                <div class="social_team list_none">
                  <ul>
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team_info gradient_box text-center">
                <h4><a href="#team5" class="content-popup">Joseph Conrad</a></h4>
                <p>Invester</p>
              </div>
              <div id="team5" class="team_pop mfp-hide">
                <div class="row m-0">
                  <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="../ico_assets/images/user_img-lg.jpg" alt="user_img-lg" /> </div>
                  <div class="col-md-6">
                    <div class="pt-3 pb-3">
                      <div class="title_dark"> <span>Invester</span>
                        <h2>Joseph Conrad</h2>
                      </div>
                      <div class="social_single_team list_none">
                        <ul>
                          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                          <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                      </div>
                      <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6 res_md_mb_30">
            <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
              <div class="team_img text-center"> <img src="../ico_assets/images/user_img.jpg" alt="user_img" />
                <div class="social_team list_none">
                  <ul>
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team_info gradient_box text-center">
                <h4><a href="#team6" class="content-popup">Julie Tokar</a></h4>
                <p>Invester</p>
              </div>
              <div id="team6" class="team_pop mfp-hide">
                <div class="row m-0">
                  <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="../ico_assets/images/user_img-lg.jpg" alt="user_img-lg" /> </div>
                  <div class="col-md-6">
                    <div class="pt-3 pb-3">
                      <div class="title_dark"> <span>Invester</span>
                        <h2>Julie Tokar</h2>
                      </div>
                      <div class="social_single_team list_none">
                        <ul>
                          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                          <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                      </div>
                      <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-6 offset-sm-3">
            <div class="team_box animation" data-animation="fadeInUp" data-animation-delay="0.7s">
              <div class="team_img text-center"> <img src="../ico_assets/images/user_img.jpg" alt="user_img" />
                <div class="social_team list_none">
                  <ul>
                    <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="team_info gradient_box text-center">
                <h4><a href="#team7" class="content-popup">Sandhya Rani</a></h4>
                <p>Invester</p>
              </div>
              <div id="team7" class="team_pop mfp-hide">
                <div class="row m-0">
                  <div class="col-md-6"> <img class="w-100 pt-3 pb-3" src="../ico_assets/images/user_img-lg.jpg" alt="user_img-lg" /> </div>
                  <div class="col-md-6">
                    <div class="pt-3 pb-3">
                      <div class="title_dark"> <span>Invester</span>
                        <h2>Sandhya Rani</h2>
                      </div>
                      <div class="social_single_team list_none">
                        <ul>
                          <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                          <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                          <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                        </ul>
                      </div>
                      <p>Founder of Venus Media Ltd and Owner of leading website for affiliates in the entertainment industry TakeBucks, he is a videographer, photographer and producer with a big number of successful entrepreneurships under his name over the last 18 years.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape shap1"></div>
  <div class="shape shap2"></div>
</section>