<section id="road_map" class="section_light_bg">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-8 col-md-12 offset-lg-2">
        <div class="title_dark">
          <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Road Map</span>
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Berycoin Timeline</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Berycoin project was started back in 2016. It was proof of work based project but later it was decided to pursue Proof of Stake model.</p>
        </div>
      </div>
    </div>
    <div class="roadmap owl-carousel small_space animation" data-animation="fadeInUp" data-animation-delay="0.4s">
      <div class="item">
        <div class="roadmap_box rd_complete">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>July 2018</h6>
            <p>Berycoin source code & softwares release</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="roadmap_box">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>August 2018</h6>
            <p>Initial Coin offerings & Trading Begins</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="roadmap_box">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>September 2018</h6>
            <p>Berymedia Platform Development Starts.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="roadmap_box">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>December 2018</h6>
            <p>Initial Coin offerings Closed.</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="roadmap_box">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>April 2019</h6>
            <p>Mobile Applications Launch</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="roadmap_box">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>July 2019</h6>
            <p>Berymedia Platform launch</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="roadmap_box">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>August 2019</h6>
            <p>Berymedia Starts its operations</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="roadmap_box">
          <div class="roadmap_inner">
            <div class="roadmap_icon icon_gradient_box"></div>
            <h6>December 2019</h6>
            <p>Projects Start on Berymedia platform..</p>
          </div>
        </div>
      </div>
    </div>

    <div id="mobileapp" class="mobileapp text_md_center">
      <div class="divider large_divider"></div>
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="title_dark">
            <span class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Berycoin Mobile Wallet</span>
            <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Download Mobile App</h2>
            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">The Berycoin's very own app will be available soon to download for your iPhone or Android™ device! ... You will be able to Download the new mobile app, and get the most out of your membership with special tools designed to enhance your experience.</p>
            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.4s">Once available,you can download the Berycoin mobile app and send/receive berycoins with a tap of a button.
            </p>
          </div>
          <div class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">
            <a href="#" class="btn btn-default"><span class="ion-social-android"></span>Google Store <i class="ion-ios-arrow-thin-right"></i></a>
            <a href="#" class="btn btn-default"><span class="ion-social-apple"></span>Apple Store <i class="ion-ios-arrow-thin-right"></i></a>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 text-center">
          <div class="res_md_mt_50 res_sm_mt_30 animation" data-animation="fadeInRight" data-animation-delay="0.1s">
            <img src="../ico_assets/images/mobile.png" alt="mobile" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-image:url('../ico_assets/images/wave.png');" class="section_wave2"></div>
</section>