<section id="token" class="section_token">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-12 col-sm-12 text_md_center">
        <div class="title_dark">
          <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Coin Offerings</span>
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Pricing & values</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.1s">
              <h6>Starting time :</h6>
              <p>August 1st, 2018 (Wednesday 9:00 AM GMT+5:30)</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.2s">
              <h6>Ending time :</h6>
              <p>December 31, 2018 (Monday 11:00 PM GMT+5:30)</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.3s">
              <h6>Market Cap Expected :</h6>
              <p>$ 50.00 (Million)</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
              <h6>Price per Coin :</h6>
              <p>0.1$ /BERY</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
              <h6>Available Coins :</h6>
              <p>BERY 500 (Million)</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="pr_box animation" data-animation="fadeInUp" data-animation-delay="0.6s">
              <h6>Acceptable Currency :</h6>
              <p>BTC, ETH, LTC, DASH, STEEM</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-0 col-md-8 offset-md-2 text_md_center res_md_mt_30">
        <div class="title_dark">
          <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Start In</span>
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">ICO is starting soon!</h2>
        </div>
        <div class="tk_countdown text-center animation countdown_shape" data-animation="fadeInUp" data-animation-delay="0.1s">
          <div class="tk_counter_inner">
            <div class="tk_countdown_time" data-time="2018/08/01 00:09:00"></div>
            <a href="#" class="btn btn-default">Buy Berycoins Now <i class="ion-ios-arrow-thin-right"></i></a> </div>
        </div>
      </div>
    </div>
    <div class="divider large_divider"></div>
    <div class="row text-center">
      <div class="col-md-12">
        <div class="title_dark">
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Berycoin Sale Proceeds</h2>
          <p>ICO funds will be used for the following Operations. Please note that These costs are for development of Berymedia platform.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center res_md_mt_20">
      <div class="col-md-7">
        <div class="res_sm_mb_30 text-center animation" data-animation="fadeInLeft" data-animation-delay="0.2s">
          <img src="../ico_assets/images/sale-proceeds.png" alt="sale-proceeds" />
        </div>
      </div>
      <div class="col-md-5">
        <ul class="list_none chart_list">
          <li class="color1 animation" data-animation="fadeInUp" data-animation-delay="0.3s">Design and Development</li>
          <li class="color2 animation" data-animation="fadeInUp" data-animation-delay="0.4s">Marketing & General</li>
          <li class="color3 animation" data-animation="fadeInUp" data-animation-delay="0.5s">Mobile Applications</li>
          <li class="color4 animation" data-animation="fadeInUp" data-animation-delay="0.6s">Administration Costs</li>
          <li class="color5 animation" data-animation="fadeInUp" data-animation-delay="0.7s">Operational Overhead</li>
        </ul>
      </div>
    </div>
    <div class="divider large_divider"></div>
    <div class="row text-center">
      <div class="col-md-12">
        <div class="title_dark">
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Coin Distribution</h2>
        </div>
      </div>
    </div>
    <div class="row align-items-center flex-row-reverse res_md_mt_20">
      <div class="col-md-7">
        <div class="res_sm_mb_30 text-center animation" data-animation="fadeInRight" data-animation-delay="0.2s">
          <img src="../ico_assets/images/distribution.png" alt="token-distribution" />
        </div>
      </div>
      <div class="col-md-5">
        <ul class="list_none chart_list">
          <li class="color4 animation" data-animation="fadeInUp" data-animation-delay="0.3s">ICO Sale</li>
          <li class="color6 animation" data-animation="fadeInUp" data-animation-delay="0.4s">Berymedia</li>
          <li class="color7 animation" data-animation="fadeInUp" data-animation-delay="0.5s">Coins to be Mined</li>
          <li class="color3 animation" data-animation="fadeInUp" data-animation-delay="0.6s">Private Investors</li>
          <li class="color2 animation" data-animation="fadeInUp" data-animation-delay="0.7s">Bounty</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="shape shap1"></div>
  <div class="shape shap2"></div>
</section>