<section id="whitepaper" class="section_light_bg">
  <div class="container">
    <div class="row text_sm_center">
      <div class="col-lg-7 col-md-7">
        <div class="title_dark">
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Download Whitepaper</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">A white paper is an authoritative report or guide that informs readers concisely about a complex issue and presents the issuing body's philosophy on the matter. It is meant to help readers understand an issue, solve a problem, or make a decision.</p>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">Marketers create whitepapers to educate their audience about a particular issue, or explain and promote a particular methodology.</p>
        </div>
        <a class="btn btn-default animation" data-animation="fadeInUp" data-animation-delay="0.4s" href="#"><span class="ion-android-download"></span>Download Now<i class="ion-ios-arrow-thin-right"></i></a> </div>
      <div class="col-lg-4 offset-lg-1 col-md-5">
        <div class="res_md_mt_30 animation" data-animation="fadeInRight" data-animation-delay="0.1s">
          <img alt="whitepaper" src="../ico_assets/images/whitepaper.png">
        </div>
      </div>
    </div>

    <div id="contact">
      <div class="divider large_divider"></div>
      <div class="row text-center">
        <div class="col-md-12">
          <div class="title_dark">
            <span class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">Contact Us</span>
            <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Get in touch!</h2>
          </div>
        </div>
      </div>
      <div class="divider small_divider"></div>
      <div class="row">
        <div class="col-md-7 col-lg-6 offset-lg-1">
          <h2>Contact us</h2>
          <p> If you have any queries, doubts or problems. Feel free to contact us
          Normally emails are responded within 24 hours, you can also live chat with us if you have urgent problems.
          </p>
          <img height="300px" src="../ico_assets/images/home.jpg"></img>
        </div>
        <div class="col-lg-5 col-md-5 res_sm_mt_30">
          <ul class="list_none contact_info mt-margin">
            <li class="input-group-prepend align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
              <i class="ion-android-call"></i>
              <div class="contact_detail">
                <span>USA-UK</span>
                <p>+1 (580) 382-7802 </p>
              </div>
            </li>
            <li class="input-group-prepend align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.2s">
              <i class="ion-android-call"></i>
              <div class="contact_detail">
                <span>International</span>
                <p>+92 (316) 249-4001 </p>
              </div>
            </li>
            <li class="input-group-prepend align-items-center animation" data-animation="fadeInUp" data-animation-delay="0.3s">
              <i class="ion-ios-email"></i>
              <div class="contact_detail">
                <span>Email</span>
                <p>berycoin@gmail.com</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded_shape light_rounded_shape1"></div>
  <div class="rounded_shape light_rounded_shape2"></div>
</section>