<section id="how_it_work" class="how_work" data-parallax="scroll" data-image-src="../ico_assets/images/how_it_work_bg.png">

  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="title_dark">
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.1s">How it Works</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.2s">Berycoin Mining/Minting is a peer-to-peer computer process used to secure and verify berycoin transactions. Payments from one user to another on a decentralized network.Mining involves adding berycoin transaction data to berycoin's global public ledger of past transactions.</p>
        </div>
        <a href="#mobileapp" class="btn btn-default page-scroll animation" data-animation="fadeInUp" data-animation-delay="0.3s">Download App <i class="ion-ios-arrow-thin-right"></i></a> </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="work_box animation" data-animation="fadeInUp" data-animation-delay="0.4s">
          <div class="box_inner"> <i class="ion-person-add"></i>
            <h4>Create Wallet</h4>
            <p>Berycoin Core, however, is a full node, meaning it helps verify and transmit other Berycoin transactions across the network and stores copy of the entire blockchain.</p>
          </div>
        </div>
        <div class="work_box animation" data-animation="fadeInUp" data-animation-delay="0.5s">
          <div class="box_inner"> <i class="ion-ios-locked"></i>
            <h4>Safe & Secure</h4>
            <p>We take careful measures to ensure that your berycoin is as safe as possible. Offline storage provides an important security measure against theft or loss. </p>
          </div>
        </div>
        <div class="work_box animation" data-animation="fadeInUp" data-animation-delay="0.6s">
          <div class="box_inner"> <i class="ion-android-cart"></i>
            <h4>Buy & Sell</h4>
            <p>Berycoin works with few exchange partners in the world to make buying berycoin in your wallet both a seamless and secure experience.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="shape shap1"></div>
</section>